@tailwind base;
@tailwind components;
@tailwind utilities;

select {
	outline: none;
	appearance: none;
	font-family: "ヒラギノ角ゴシック" sans-serif;
	font-size: 16px;
	border: 1px solid #333;
	border-radius: 4px;
	line-height: 1.5rem;
	color: #333;
	box-shadow: none;
	padding: 0 24px 0 8px;
	background: #fff
		url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E)
		no-repeat right 5px top 55%;
	background-size: 16px 16px;
	cursor: pointer;
}
input[type="text"] {
	outline: none;
	appearance: none;
	font-family: "ヒラギノ角ゴシック" sans-serif;
	font-size: 16px;
	border: 1px solid #333;
	border-radius: 4px;
	line-height: 1.25rem;
	color: #333;
	box-shadow: none;
	padding: 0 24px 0 8px;
	background: #fff;
	background-size: 16px 16px;
	cursor: text;
}